nav a {
    font-size: 34px !important;
}

.capitalize {
    text-transform: capitalize;   
  }

.index-green {
    background-color: #00892F;
}

.index-yellow {
    background-color: #EEDC00;
}

.index-orange {
    background-color: #FF6C2F;
}

.index-red {
    background-color: #CD001A;
}

.index-black {
    background-color: black;
}

.icon {
    width: 100px;
    object-fit: cover;
    overflow: hidden;
}

